<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/../css/listing.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    {{>navbar}}
    <h1>rooms page</h1>
    <div class="RoomAvailable"><h5>Check Rooms Available within the given date range</h5> 
        <input type="datetime-local" name="checkInDateTime" id="checkInDateTime" placeholder="Enter checkin">
        <input type="datetime-local" name="checkOutDateTime" id="checkOutDateTime" placeholder="Enter checkout">
        <button class="checkAvailableRoomsForRange">Check Rooms</button>
    </div>
    <div class="roomCommon" id="1">
        <form action="/platformAnchorage/roomScheduling/addBooking" method="post">
            <input type="number" name="roomNumber" id="roomNumber" placeholder="Enter room number">
            <input type="datetime-local" name="checkInDateTime" id="checkInDateTime" placeholder="Enter checkin">
            <input type="datetime-local" name="checkOutDateTime" id="checkOutDateTime" placeholder="Enter checkout">
            <button type="submit" class="addBookingBtn">Submit Now</button>
        </form>
    </div>

    <div>
        {{#each rooms as |room|}}
        <div>{{room.roomNumber}}</div>
        <div class="roomCommon" id={{room.roomNumber}}>
        <form action="/platformAnchorage/roomScheduling/addBooking" method="post">
            <input type="hidden" name="roomNumber" id="{{room.roomNumber}}" value="{{room.roomNumber}}">
            <input type="text" name="guestName" id="guestName" placeholder="Enter Name">
            <input type="number" name="guestPhone" id="guestPhone" placeholder="Enter phone">
            <input type="datetime-local" name="checkInDateTime" id="checkInDateTime" placeholder="Enter checkin">
            <input type="datetime-local" name="checkOutDateTime" id="checkOutDateTime" placeholder="Enter checkout">

            <button type="submit" class="addBookingBtn">Submit Now</button>

        </form>
        <button id={{room.roomNumber}} class="deleteRoom">Delete Room</button>
        {{/each}}
    </div>


    <div class="table1">
        <table>
            <tr class="rows">
                <th class="medium">Room Number</th>
                <th class="long">Guest Name</th>
                <th class="small">Guest Phone</th>
                <th class="small">Check In </th>
                <th class="medium">Check Out </th>
                {{!-- <th class="small">Delete </th> --}}
            </tr>
            {{#each rooms as |room|}}
            {{#each room.bookings as |booking|}}
            <tr class="rows">
                <td class="medium">{{room.roomNumber}}</td>
                <td class="small">{{booking.guestName}}</td>
                <td class="small">{{booking.guestPhone}}</td>
                <td class="medium">{{booking.checkInDateTime}}</td>
                <td class="medium">{{booking.checkOutDateTime}}</td>

                {{!-- <td class="small">
                    <button class="deleteBtn" id={{guest._id}}>
                        Delete Guest
                    </button>
                </td> --}}
            </tr>
            {{/each}}
            {{/each}}
        </table>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
</body>

</html>